<div>
    <div class="border border-dark rounded" style='width:960px;'>
        <h5>Power Source</h5>

        <select class='custom-select' name="powerOptions" id="powerOptions">
            <option value="house">House Power</option>
            <option value="generator">Generator</option>
        </select>

        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
        </div>
    </div>

</div>