<div>
    <div class="container">

        <!--Add Acct Btn-->
        <div class="row">
            <button class="btn btn-success">
                New
            </button>
        </div>

        <!--List of accoutns-->
        <riv class="row">

            <table class="table table-bordered">
                <thead>
                    <th scope='col'>Name</th>
                    <th scope='col'>Type</th>
                    <th scope='col'>Detail Type</th>
                    <th scope='col'>Balance</th>
                    <th scope='col'>Action</th>
                </thead>
            </table>
        </riv>
    </div>
</div>