<div>
    <a href="/#/admin/channels">Return to Channels</a>
    
    <h3>{{vm.channelData.name}}</h3>

    <h4>Stats</h4>
    <table class="table">
        <thead></thead>
        <tbody>
            <th scope='row'>Total Engagments</th>
            <td>{{vm.sumEngagments(vm.engagementsData)}}</td>
        </tbody>
    </table>
   
    <h4>Engagments</h4>
    <table class="table">
        <thead>
            <th scope='col'>#</th>
            <th scope='col'>YrWkD</th>
            <th scope='col'>Date</th>
        </thead>
        <tbody>
            <tr ng-repeat='(key, value) in vm.engagementsData'
                ng-click='vm.rowClick(key)'>
                <th scope='row'>{{$index +1}}</th>
                <td>{{value.Yr}}{{value.Wk}}{{value.D}}</td>
                <td>{{value.date | date : "shortDate" }}</td>
            </tr>
            
        </tbody>
    </table>

</div>