<div>
    
    
    <div class="container">
        <!--Events-->
        <div class="row">
            <h4>Events</h4>

            <daily-allocations-by-event 
                date='vm.currentDate' 
                updates="vm.processUpdates">
            </daily-allocations-by-event>

            <div class="row">
                <div ng-repeat='(key, value) in vm.engagments'>
                    <a ng-href="#/admin/engagments/{{key}}">{{value.channel}}</a> <br>
                    {{vm.formatTime(value.opensAt)}} - {{vm.formatTime(value.closesAt)}}
                </div>
            </div>
            


        </div>

        <!--Team Members-->
        <div class="row">
            <h4>Team Members</h4>

        </div>

        <!--Transactions-->
        <div class="row">
            <h4>Funds Collected</h4>

            <daily-funds-collected date='vm.currentDate'></daily-funds-collected>

        </div>

    </div>  

    {{vm.txsList}}

</div>