<div>
    <div class="container">

        <!--Heading-->
        <div class="row">
            <!--Greating-->
            <div class="col-9 sm-col-9 md-col-9 lg-col-9 xl-col-9" style='margin-top:20px;'>
                <h2>Howdy {{vm.user.displayName}}</h2>
            </div>
            
            <!--Date/Time-->
            <div class="col-3 sm-col-3 md-col-3 lg-col-3 xl-col-3" style='margin-top:20px;'>
                <strong>{{ vm.today() | date: "EEEE" }}</strong> <br>
                {{ vm.today() | date: "MMMM d" }} <br>
                <a ng-href="#/member/{{vm.routeParams.uid}}/settings">Settings</a>
            </div>
        </div>
        
        <!--Admin Functions-->
        <div class="row">
            <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12" style="margin-top: 15px;">
                <h4>Admin Options</h4>
                <ol>
                    <li><a href="#/admin/channels">Channels</a></li>
                    <li><a href="#/admin/schedule/weekly">Schedule</a></li>
                    <li><a href="#/admin/accts">Accounts</a></li>
                    <li><a href="#/admin/BoM">Bills of Materials</a></li>
                    <li><a href="#/admin/operationRoles">Roles</a></li>
                </ol>

            </div>
        </div>
        <!--Member Shcedule-->
        <div class="row">
            <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12" style="margin-top: 15px;">
                <h4>Your Schedule</h4>

            </div>
        </div>
        
    </div>
</div>