<div>
    <div class="container">

        <!--Team Member Record Provided-->
        <div class="row teamFunds" 
             ng-repeat="(empKey, empValue) in vm.collectionsByTeamMember"
             ng-show="empKey != 'UNKNOWN'">
             
             <!--Name & Summary-->
             <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" id='member'>
                <strong>{{vm.concatenateName(empKey)}}</strong>
             </div>
             <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 align-bottom" id='teamFundsSummary'>
                ({{empValue.totalSalesCollected / 100 | currency : "$" : 2}} from 
                {{empValue.totalCollections}} sales and 
                {{empValue.totalTipsCollected / 100 | currency : "$" : 2}} in tips.)
             </div>

            <!--Transactions-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 overflow-auto" id="teamFundsTxsBox">
                <div class="container">
                    <div class="row input-group mb-1" ng-repeat='(txKey, txValue) in empValue.txs'>

                        <div class="input-group-prepend">
                            <!--Check Box-->
                            <div class="" id='teamFundsTxCheckbox'>
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                            <!--Time-->
                            <div class="" id='teamFundstxTime'>
                                {{txValue.createdAt | date : 'shortTime'}}
                            </div>
                            <!--Ammount-->
                            <div class="" id='teamFundstxAmt'>
                                {{txValue.amountMoney.amount / 100 | currency : "$" : 2}}
                            </div>
                            <!--Notes-->
                            <div class="" id='teamFundstxNote'>
                                {{txValue.sourceType}} collected by {{vm.concatenateName(txValue.employeeId)}}
                            </div>
                            

                        </div>
                        
                    </div>
                </div>
                
            </div>
            
        </div>

        <!--Unknown-->
        <div class="row teamFunds" 
            ng-repeat="(empKey, empValue) in vm.collectionsByTeamMember"
            ng-show='empKey=="UNKNOWN"'>

            <!--Name & Summary-->
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" id='member'>
                <strong>{{vm.concatenateName(empKey)}}</strong>
            </div>
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" id='summary'>
                ({{empValue.totalSalesCollected / 100 | currency : "$" : 2}} from 
                {{empValue.totalCollections}} sales and 
                {{empValue.totalTipsCollected / 100 | currency : "$" : 2}} in tips.)
            </div>

            <!--Transactions-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 overflow-auto" id="txsbox">
                <div class="container">
                    <div class="row" ng-repeat='(key, value) in empValue.txs'>
                        {{$index}}
                    </div>
                </div>
                
            </div>

        </div>
    </div>
    
</div>