<div>
    <div class="container">
        <div class="navbar">
            <!--Logo-->
            <div class="col">
                29 Kettle: Team
            </div>

            <!--Access-->
            <div class="col justify-content-end">

                <!--Log In-->
                <div class="d-flex justify-content-end" ng-if='vm.user == null'>
                    <button class="btn btn-outline-success" ng-click='vm.logIn()'>Log In</button>
                </div>
                

                <!--Log Out-->
                <div class="d-flex justify-content-end" ng-if='vm.user != null'>
                    <button class="btn btn-outline-success" ng-click='vm.logOut()'>Log Out</button>
                </div>
            </div>

        </div>
    </div>
</div>