<div>
    <div class="container">
        <div class="row" style='height: 150px;'>
            <div>
                <h3>Beaverton Farmers Market</h3>
                <strong>Wk 44</strong> <br>
                <strong>Current Temperation:</strong> 45 <br>
                <strong>Power Source:</strong> Generator <br>
                <strong>Wind:</strong> 10mph NNW
            </div>
            <div style='position: absolute; right: 25px;'>
                <strong>SATURDAY</strong><br>
                November 6th <br>
                <strong>8:33 AM</strong>
            </div>
        </div>

        <div class="row">
            <power-source></power-source>
        </div>

        <div class="row">
            <div class="border border-dark rounded" style='width:960px;'>
                <h5>Current Batch:</h5>
                <strong>Time Elapsed:</strong><br>
                <strong>Recipe:</strong> Bourbon <br>
                <strong>Nut:</strong> Pecans 
            </div>
        </div>

        <div class="row">
            <div class="border border-dark rounded-lg" style='width:960px;'> 
                <div class="row prodMonBar">
                    Target:
                    <div class="progress" style='width: 880px; height: 30px;'>
                        
                    </div>
                </div>
                <div class="row prodMonBar">
                    Actual:
                    <div class="progress" style='width: 880px; height: 30px;'>
                        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
                        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            
            
        </div>


        <div class="row">
            <cooking-recorder></cooking-recorder>
        </div>
        
        
    </div>
</div>