<div>
    <div class="container">
        <!--Bread Crumbs-->
        <div style='margin-top: 10px;'>
            <a ng-href="#/minishop/{{vm.params.engmntId}}/{{vm.params.channelId}}" >Return to Dashboard</a>
        </div>

        <div class="row">
            <div class="col-9 sm-col-9 md-col-9 lg-col-9 xl-col-9">
                <h3>{{vm.channel.name}}</h3>
                <strong>Wk {{vm.engagment.wk}}</strong> <br>
                <strong>Current Temperation:</strong> {{vm.weather}} <br>
                <strong>Power Source:</strong> Generator <br>
                <strong>Wind:</strong> 10mph NNW
            </div>
            <div class="col-3 sm-col-3 md-col-3 lg-col-3 xl-col-3">
                <strong>{{vm.engagment.date | date: "EEEE"}}</strong><br>
                {{vm.engagment.date | date: "MMMM d"}}<span>{{vm.dateEnding(vm.engagment.date)}}</span>
                <br>
                <strong>8:33 AM</strong>
            </div>
        </div>



        
        <div class="row">
            <div class='col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12'
                    style='text-align: center;'>
                <h2>PRODUCTION</h2>
            </div>
        </div>

        <!--Section Heading-->
        <h4 style='margin-top: 20px;'>Recipe Selection</h4>

        <!--Launcher-->
        <div class="row">
            <div class="col-10 sm-col-10 md-col-10 lg-col-10 xl-col-10">
                <div class="row">
                    <button    class="border border-dark rounded col-3 sm-col-3 md-col-3 lg-col-4 xl-col-3 btn btn-outline-dark"
                            ng-repeat='(key, value) in vm.recipes'
                            style='text-align: center; padding-top: 20px; padding-bottom: 20px;'
                            ng-click='vm.selectRecipe(key)'
                            id='recBttn{{key}}'
                            >
                        <span>{{value.recipe}}</span> <br>
                        <span style='font-size:1.75rem;'>{{value.nut}}</span>
                    </button>
                </div>
                
            </div>
                
            <div class="col-2 sm-col-2 md-col-2 lg-col-2 xl-col-2 " style='padding-right:0px;'>
                <button class='border border-dark rounded btn btn-outline-dark' 
                        style='text-align: center; height: 215px; padding-top: 100px; padding-bottom: 100px; width: 100%;'
                        id='recBttn9'>
                    Operations
                </button>
            </div>
        </div>

        <!--Section Heading-->
        <h4 style='margin-top: 20px;'>Cooking Flow</h4>

        <!--Steps-->
        <div class="row">

            <!--Next Up-->
            <div    class="col-3 sm-col-3 md-col-3 lg-col-3 xl-col-3"
                    style='padding-left: 0px;'>
                <div    class='border border-dark rounded'
                        style='width: 100%; height: 145px;'
                        ng-click='vm.startNewBatch()'>
                    
                    <div style="width:100%; height: 55px; text-align: center; font-size: 1.25rem; padding-top: 15px;"><strong>Next Up:</strong> </div>
                    <div    style="width:100%; height: 110px; text-align: center; padding-top: 0px;"
                            ng-if='vm.prodReport.ondeck.recipe != undefined'>
                        <span>{{vm.prodReport.ondeck.recipe}}</span> <br>
                        <span style='font-size:2rem;'>{{vm.prodReport.ondeck.nut}}</span>
                    </div>
                    
                </div>
            </div>

            <!--Currently Cooking-->
            <div    class="col-6 sm-col-6 md-col-6 lg-col-6 xl-col-6"
                    style='padding-left: 0px; padding-right: 0px;'>
                <div    class="border border-dark rounded"
                        style='height: 145px;'>
                    
                    <div class="row" style='padding-top:15px; padding-left: 10px; padding-right: 10px;'>
                        <!--Timer-->
                        <div class="col-4 sm-col-4 md-col-4 lg-col-4 xl-col-4" style='padding-left:20px; padding-right: 0px;'>
                            <div ng-if='vm.prodReport.lastStatus == "Cooking"'
                                    style='text-align: left;'>
                                <span class='text-monospace' style='font-size: 1.6rem;'> <strong>{{vm.batch.secElapsed * 1000 | date: "m:ss": 'UTC'}}</strong></span>
                            </div>
                        </div>

                        <!--Status-->
                        <div class="col-4 sm-col-4 md-col-4 lg-col-4 xl-col-4"
                                style='font-size: 1.5rem; text-align: center;'>
                            <strong>{{vm.prodReport.lastStatus}}</strong>
                        </div>

                        <!--Finish Button-->
                        <div class="col-4 sm-col-4 md-col-4 lg-col-4 xl-col-4" style="padding-right: 20px; padding-left: 0px;">
                            <div ng-if='vm.prodReport.lastStatus == "Cooking"'
                                    style='text-align: right;'>
                                <button class="btn btn-danger" style='font-size:.9rem;'>Finish</button>
                            </div>
                        </div>
                        
                    </div>
                    
                    <!--Recipe-->
                    <div class="row" style='padding-top: 25px;'>
                        <div    class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12"
                                style='text-align: center; font-size: 2rem;'>
                            <span>{{vm.prodReport.cooking.recipe}} {{vm.prodReport.cooking.nut}}</span>
                        </div>
                    </div>

                </div>
            </div>

            <!--Last Batch-->
            <div    class="col-3 sm-col-3 md-col-3 lg-col-3 xl-col-3"
                    style='padding-right: 0px;'>
                <div    class='border border-dark rounded'
                    style='width: 100%; height: 145px;'
                    >
                
                    <div style="width:100%; height: 55px; text-align: center; font-size: 1.25rem; padding-top: 15px;"><strong>Last Batch:</strong> </div>
                    <div    style="width:100%; height: 110px; text-align: center; padding-top: 0px;"
                            ng-if='vm.prodReport.cooling.recipe != undefined'>
                        <span>{{vm.prodReport.cooling.recipe}}</span> <br>
                        <span style='font-size:2rem;'>{{vm.prodReport.cooling.nut}}</span>
                    </div>
                
                </div>
            </div>
        </div>

        <!--Section Heading-->
        <h4 style='margin-top: 20px;'>Current Batch</h4>

        <div class="row">
            <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12 border rounded border-dark">
                
                <!--Actual Bar-->
                <div class="row">

                    

                    <div ng-if='vm.prodReport.cooking.recipe == undefined' style='height: 72px; width: 100%;'></div>
                    
                    <div    class="col-9 sm-col-9 md-col-9 lg-col-9 xl-col-9"
                            style='font-size: 2rem;'>
                        {{vm.prodReport.cooking.recipe}} {{vm.prodReport.cooking.nut}}
                    </div>
                    <div class="col-3 sm-col-3 md-col-3 lg-col-3 xl-col-3 text-monospace">
                        {{}}
                    </div>
                    

                    <div class="col-6 sm-col-6 md-col-6 lg-col-6 xl-col-6" style='text-align: left;'>
                        <strong>{{vm.prodReport.cooking.startAt | date: "h:mm a"}}</strong>
                    </div>

                    <div class="col-4 sm-col-4 md-col-4 lg-col-4 xl-col-4" style='text-align: center;'>
                        <strong>{{ vm.calculateCookingDone(vm.prodReport.cooking.startAt) }}</strong>
                    </div>

                    <div class="col-2 sm-col-2 md-col-2 lg-col-2 xl-col-2" style='text-align: right;'>
                        <strong>{{ vm.calculateCookingError() }}</strong>
                    </div>

                    <!--Progress Bar-->
                    <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12" style='margin-bottom:15px;'>
                        
                        <div class="progress" style='width:100%; height: 25px;'>
                            <div    class='progress-bar progress-bar-striped progress-bar-animated'
                                    role='progressbar'
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    aria-valuenow='{{ vm.validatePercentProgress(vm.batch.prcntPrgs) }}'
                                    ng-style='{width: ( vm.validatePercentProgress(vm.batch.prcntPrgs) + "%") }'
                                    >
                                    
                            </div>
                        </div>
                    </div>
                </div>


                <!--Target bar-->
                <div class="row">
                    <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12">
                        <!--Cooking-->
                        <div class="progress" style='width:100%; height: 25px;'>
                            <div    class='progress-bar bg-info'
                                    role='progressbar'
                                    aria-valuemin="0"
                                    aria-valuemax="1200"
                                    aria-valuenow='660'
                                    style="width: 55%">
                                <strong>Wet Stage / Dry Stage / Oiley Stage</strong>
                            </div>
                             <!--Complete-->
                            <div    class='progress-bar bg-warning'
                                    role='progressbar'
                                    aria-valuemin="0"
                                    aria-valuemax="1200"
                                    aria-valuenow='540'
                                    style="width: 25%">
                                <strong> Normal Complete Range</strong>
                            </div>
                            <!--Issue-->
                            <div    class='progress-bar bg-danger'
                                    role='progressbar'
                                    aria-valuemin="0"
                                    aria-valuemax="1200"
                                    aria-valuenow='240'
                                    style="width: 20%">
                                <strong>Burnt or Other Issues</strong>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 sm-col-6 md-col-6 lg-col-6 xl-col-6" style='text-align: left;'>0 minutes</div>
                    <div class="col-4 sm-col-4 md-col-4 lg-col-4 xl-col-4" style='text-align: center;'>12-16 minutes</div>
                    <div class="col-2 sm-col-2 md-col-2 lg-col-2 xl-col-2" style='text-align: right;'>16-20 min</div>
                </div>

            </div>
        </div>


        <!--Progress-->
        <h4 style='margin-top: 20px;'>Cooking Efficiency</h4>
        <div class="row">
            <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12 border rounded border-dark">
                
                <div class="progress" style='width:100%; height: 25px;'>
                    <!--Warm Kettle-->
                    <div    class='progress-bar'
                            role='progressbar'
                            aria-valuemin="0"
                            aria-valuemax="100"
                            aria-valuenow='6.25'
                            style="width: 6.25%">
                    </div>
                    <!--Warm Kettle-->
                    <div    class='progress-bar bg-warning'
                            role='progressbar'
                            aria-valuemin="0"
                            aria-valuemax="100"
                            aria-valuenow='6.25'
                            style="width: 6.25%">
                        <strong>Warm</strong>
                    </div>
                </div>

            </div>
        </div>

        <!--Txs-->
        <h4 style='margin-top: 20px;'>All Batches</h4>
        <div class="row">
            <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12 border rounded border-dark">
                
                <div style='margin-top:15px;'>
                    <strong>Total Batches:</strong>
                </div>
                

                <table class="table">
                    <thead>
                        <tr>
                            <th scope='col'>#</th>
                            <th scope='col'>Started</th>
                            <th scope='col'>Batch</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class='table-striped'>
                        <tr ng-repeat='batch in vm.cookingList track by $index'>
                            <th scope='row' style='padding-top:16px;'>{{$index + 1}}</th>
                            <td style='padding-top:16px;'>{{batch.startAt | date: "h:mm a"}}</td>
                            <td style='padding-top:16px;'>{{batch.recipe}} {{batch.nut}}</td>
                            <td>(PENDING) </td>
                            <td><button class="btn btn-info btn-sm">Details</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Cooked Nuts: Produced / Consumed / Balance -->
        <h4 style='margin-top: 20px;'>Cooked Nuts</h4>
        <div class="row">
        </div>

        <!--Staged Nuts -->
        <h4 style='margin-top: 20px;'>Staged Nuts</h4>
        <div class="row">
            <!--Pecans-->
            <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12">
                <strong>Pecans:</strong>
                <div class="progress" style='width:100%; height: 25px;'>
                    <div    class='progress-bar bg-info'
                            role='progressbar'
                            aria-valuemin="0"
                            aria-valuemax="100"
                            aria-valuenow='75'
                            style="width: 75%">
                        <strong>9 Left</strong>
                    </div>
                     <!--Complete-->
                    <div    class='progress-bar bg-warning'
                            role='progressbar'
                            aria-valuemin="0"
                            aria-valuemax="100"
                            aria-valuenow='25'
                            style="width: 25%">
                        <strong>3 Used</strong>
                    </div>
                    
                </div>
            </div>

            <!--Almonds-->
            <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12"></div>

            <!--Cashews-->
            <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12"></div>

            <!--Hazelnuts-->
            <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12"></div>
        </div>

        <!--Packaging -->
        <h4 style='margin-top: 20px;'>Packaging</h4>
        <div class="row"></div>

        <!--Cooking Supplies -->
        <h4 style='margin-top: 20px;'>Cooking Supplies</h4>
        <div class="row"></div>

        <!--Misc -->
        <h4 style='margin-top: 20px;'>Misc</h4>
        <div class="row"></div>


        

    </div>
</div>