<div>
    <div class="container">
        <!--Bread Crumbs-->
        <div style='margin-top: 10px;'>
            <a ng-href="#/minishop/{{vm.params.engmntId}}" >Return to Dashboard</a>
        </div>

        <div class="row">
            <div class='col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12'
                    style='text-align: center;'>
                <h2>PRODUCTION</h2>
            </div>
        </div>

        <!--Section Heading-->
        <h4 style='margin-top: 20px;'>Recipe Selection</h4>

        <!--Launcher-->
        <div class="row">
            <div class="col-10 sm-col-10 md-col-10 lg-col-10 xl-col-10">
                <div class="row">
                    <button    class="border border-dark rounded col-3 sm-col-3 md-col-3 lg-col-4 xl-col-3 btn btn-outline-dark"
                            ng-repeat='product in vm.recipes track by $index'
                            style='text-align: center; padding-top: 20px; padding-bottom: 20px;'
                            ng-click='vm.selectRecipe($index)'
                            id='recBttn{{$index}}'
                            >
                        <span>{{product.recipe}}</span> <br>
                        <span style='font-size:1.75rem;'>{{product.nut}}</span>
                    </button>
                </div>
                
            </div>
                
            <div class="col-2 sm-col-2 md-col-2 lg-col-2 xl-col-2 " style='padding-right:0px;'>
                <button class='border border-dark rounded btn btn-outline-dark' 
                        style='text-align: center; height: 215px; padding-top: 100px; padding-bottom: 100px; width: 100%;'
                        id='recBttn9'>
                    PREP
                </button>
            </div>
        </div>

        <!--Section Heading-->
        <h4 style='margin-top: 20px;'>Cooking Flow</h4>

        <!--Steps-->
        <div class="row">

            <!--Next Up-->
            <div    class="col-3 sm-col-3 md-col-3 lg-col-3 xl-col-3"
                    style='padding-left: 0px;'>
                <div    class='border border-dark rounded'
                        style='width: 100%; height: 145px;'
                        ng-click='vm.startNewBatch()'>
                    
                    <div style="width:100%; height: 55px; text-align: center; font-size: 1.25rem; padding-top: 15px;"><strong>Next Up:</strong> </div>
                    <div    style="width:100%; height: 110px; text-align: center; padding-top: 0px;"
                            ng-if='vm.batches.ondeck.recipe != undefined'>
                        <span>{{vm.batches.ondeck.recipe}}</span> <br>
                        <span style='font-size:2rem;'>{{vm.batches.ondeck.nut}}</span>
                    </div>
                    
                </div>
            </div>

            <!--Currently Cooking-->
            <div    class="col-6 sm-col-6 md-col-6 lg-col-6 xl-col-6"
                    style='padding-left: 0px; padding-right: 0px;'>
                <div    class="border border-dark rounded"
                        style='height: 145px;'>
                    
                    <div class="row" style='padding-top:15px; padding-left: 10px; padding-right: 10px;'>
                        <!--Timer-->
                        <div class="col-4 sm-col-4 md-col-4 lg-col-4 xl-col-4" style='padding-left:20px; padding-right: 0px;'>
                            <div ng-if='vm.cookingMetrics.status == "Cooking"'
                                    style='text-align: left;'>
                                <span class='text-monospace' style='font-size: 1.6rem;'> <strong>{{vm.cookingMetrics.timeElapsed * 1000 | date: "m:ss": 'UTC'}}</strong></span>
                            </div>
                        </div>

                        <!--Status-->
                        <div class="col-4 sm-col-4 md-col-4 lg-col-4 xl-col-4"
                                style='font-size: 1.5rem; text-align: center;'>
                            <strong>{{vm.cookingMetrics.status}}</strong>
                        </div>

                        <!--Finish Button-->
                        <div class="col-4 sm-col-4 md-col-4 lg-col-4 xl-col-4" style="padding-right: 20px; padding-left: 0px;">
                            <div ng-if='vm.cookingMetrics.status == "Cooking"'
                                    style='text-align: right;'>
                                <button class="btn btn-danger" style='font-size:.9rem;'>Finish</button>
                            </div>
                        </div>
                        
                    </div>
                    
                    <!--Recipe-->
                    <div class="row" style='padding-top: 25px;'>
                        <div    class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12"
                                style='text-align: center; font-size: 2rem;'>
                            <span>{{vm.batches.cooking.recipe}} {{vm.batches.cooking.nut}}</span>
                        </div>
                    </div>

                </div>
            </div>

            <!--Last Batch-->
            <div    class="col-3 sm-col-3 md-col-3 lg-col-3 xl-col-3"
                    style='padding-right: 0px;'>
                <div    class='border border-dark rounded'
                    style='width: 100%; height: 145px;'
                    >
                
                    <div style="width:100%; height: 55px; text-align: center; font-size: 1.25rem; padding-top: 15px;"><strong>Last Batch:</strong> </div>
                    <div    style="width:100%; height: 110px; text-align: center; padding-top: 0px;"
                            ng-if='vm.batches.cooling.recipe != undefined'>
                        <span>{{vm.batches.cooling.recipe}}</span> <br>
                        <span style='font-size:2rem;'>{{vm.batches.cooling.nut}}</span>
                    </div>
                
                </div>
            </div>
        </div>

        <!--Section Heading-->
        <h4 style='margin-top: 20px;'>Current Batch</h4>

        <div class="row">
            <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12 border rounded border-dark">
                
                <!--Actual Bar-->
                <div class="row">

                    

                    <div ng-if='vm.batches.cooking.recipe == undefined' style='height: 72px; width: 100%;'></div>
                    
                    <div    class="col-9 sm-col-9 md-col-9 lg-col-9 xl-col-9"
                            style='font-size: 2rem;'>
                        {{vm.batches.cooking.recipe}} {{vm.batches.cooking.nut}}
                    </div>
                    <div class="col-3 sm-col-3 md-col-3 lg-col-3 xl-col-3 text-monospace">
                        {{}}
                    </div>
                    

                    <div class="col-6 sm-col-6 md-col-6 lg-col-6 xl-col-6" style='text-align: left;'>
                        <strong>{{vm.cookingMetrics.startngTime | date: "h:mm a"}}</strong>
                    </div>

                    <div class="col-4 sm-col-4 md-col-4 lg-col-4 xl-col-4" style='text-align: center;'>
                        <strong>{{ vm.calculateCookingDone(vm.cookingMetrics.startngTime) }}</strong>
                    </div>

                    <div class="col-2 sm-col-2 md-col-2 lg-col-2 xl-col-2" style='text-align: right;'>
                        <strong>{{ vm.calculateCookingError() }}</strong>
                    </div>

                    <!--Progress Bar-->
                    <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12" style='margin-bottom:15px;'>
                        
                        <div class="progress" style='width:100%; height: 25px;'>
                            <div    class='progress-bar'
                                    role='progressbar'
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    aria-valuenow='{{ vm.cookingMetrics.prcntPrgs }}'
                                    ng-style="{width: ({{ vm.cookingMetrics.prcntPrgs  }} + '%') }"
                                    style='width: {{vm.cookingMetrics.prcntPrgs + "%" }}'>

                            </div>
                        </div>
                    </div>
                </div>


                <!--Target bar-->
                <div class="row">
                    <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12">
                        <!--Cooking-->
                        <div class="progress" style='width:100%; height: 25px;'>
                            <div    class='progress-bar bg-info'
                                    role='progressbar'
                                    aria-valuemin="0"
                                    aria-valuemax="1200"
                                    aria-valuenow='660'
                                    style="width: 55%">
                                <strong>Wet Stage / Dry Stage / Oiley Stage</strong>
                            </div>
                             <!--Complete-->
                            <div    class='progress-bar bg-warning'
                                    role='progressbar'
                                    aria-valuemin="0"
                                    aria-valuemax="1200"
                                    aria-valuenow='540'
                                    style="width: 25%">
                                <strong> Normal Complete Range</strong>
                            </div>
                            <!--Issue-->
                            <div    class='progress-bar bg-danger'
                                    role='progressbar'
                                    aria-valuemin="0"
                                    aria-valuemax="1200"
                                    aria-valuenow='240'
                                    style="width: 20%">
                                <strong>Burnt or Other Issues</strong>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 sm-col-6 md-col-6 lg-col-6 xl-col-6" style='text-align: left;'>0 minutes</div>
                    <div class="col-4 sm-col-4 md-col-4 lg-col-4 xl-col-4" style='text-align: center;'>12-16 minutes</div>
                    <div class="col-2 sm-col-2 md-col-2 lg-col-2 xl-col-2" style='text-align: right;'>16-20 min</div>
                </div>

            </div>
        </div>


        
        
        <!--Start Time-->



        <!--Progress-->
        <div class="row"></div>

        <!--Txs-->
        <div class="row"></div>

        <!--Supplies-->
        <div class="row"></div>

        <!--Produced/Results-->
        <div class="row"></div>

    </div>
</div>