<div>
    <div class="container">
        <!--Bread Crumbs-->
        <div style='margin-top: 10px;'>
            <a ng-href="#/minishop/{{vm.params.engmntId}}" >Return to Dashboard</a>
        </div>

        <!--Title-->
        <h3 style='margin-top: 30px;'>Production</h3>

        <!--Launcher-->
        <div class="row">
            <div class="col-10 sm-col-10 md-col-10 lg-col-10 xl-col-10">
                <div class="row">
                    <button    class="border border-dark rounded col-3 sm-col-3 md-col-3 lg-col-4 xl-col-3 btn btn-outline-dark"
                            ng-repeat='product in vm.recipes track by $index'
                            style='text-align: center; padding-top: 20px; padding-bottom: 20px;'
                            ng-click='vm.selectRecipe($index)'
                            id='recBttn{{$index}}'
                            >
                        <span>{{product.recipe}}</span> <br>
                        <span style='font-size:2rem;'>{{product.nut}}</span>
                    </button>
                </div>
                
            </div>
                
            <div class="col-2 sm-col-2 md-col-2 lg-col-2 xl-col-2 ">
                <button class='border border-dark rounded btn btn-outline-dark' 
                        style='text-align: center; height: 228px; padding-top: 100px; padding-bottom: 100px; width: 100%;'
                        id='recBttn9'>
                    PREP
                </button>
            </div>
        </div>

        <!--Steps-->
        <div class="row" style='margin-top: 30px;'>

            <!--Next Up-->
            <div    class="col-3 sm-col-3 md-col-3 lg-col-3 xl-col-3"
                    style='padding-left: 0px;'>
                <div    class='border border-dark rounded'
                        style='width: 100%; height: 165px;'
                        ng-click='vm.startNewBatch()'>
                    
                    <div style="width:100%; height: 55px; text-align: center; font-size: 1.25rem; padding-top: 15px;"><strong>Next Up:</strong> </div>
                    <div    style="width:100%; height: 110px; text-align: center; padding-top: 15px;"
                            ng-if='vm.batches.ondeck.recipe != undefined'>
                        <span>{{vm.batches.ondeck.recipe}}</span> <br>
                        <span style='font-size:2rem;'>{{vm.batches.ondeck.nut}}</span>
                    </div>
                    
                </div>
            </div>

            <!--Currently Cooking-->
            <div    class="col-6 sm-col-6 md-col-6 lg-col-6 xl-col-6"
                    style='padding-left: 0px; padding-right: 0px;'>
                <div    class="border border-dark rounded"
                        style='height: 165px;'>
                    
                    <div class="row">
                        <!--Recipe-->


                        <!--Status-->
                        <div    class="col-8 sm-col-8 md-col-8 lg-col-8 xl-col-8" 
                                style='text-align:left; padding-top:5px; padding-right: 0px; padding-left:25px;'>
                            
                            <!-- Warming / Cleaning / Off Status-->
                            <div ng-if='vm.cookingMetrics.status != "Cooking"'
                                    style='font-size: 2rem; padding-top:15px; text-align: Center;'>
                                <strong>{{vm.cookingMetrics.status}}</strong>
                            </div>
                            <!--Cooking Status-->
                            <div ng-if='vm.cookingMetrics.status == "Cooking"'>
                                <strong style='font-size:1.5rem;'>{{vm.cookingMetrics.status}}:</strong>
                                <br>
                                <div style='font-size: 1.25rem; padding-top: 10px;'>
                                    <strong>
                                        <span>{{vm.batches.cooking.recipe}}</span>
                                        <span>{{vm.batches.cooking.nut}}</span>
                                    </strong>
                                    
                                </div>
                            </div>
                            
                            
                    
                                
                        </div>

                        <!--Elapsed Time / Finish Button -->
                        <div class="col-4 sm-col-4 md-col-4 lg-col-4 xl-col-4"
                                style='text-align: right; padding-right: 25px; padding-top: 5px; padding-left: 0px;'>
                            <span style='font-size: 1.6rem;'> <strong>{{vm.cookingMetrics.timeElapsed * 1000 | date: "m:ss": 'UTC'}}</strong></span>
                            <br>
                            <button class="btn btn-danger" style='font-size:.9rem;'>Finish</button>
                        </div>

                    </div>
                    

                    <div class="row">
                        <!--Target bar-->
                        <!--Actual Bar-->
                        <!--Start Time-->
                    </div>

                </div>
            </div>

            <!--Last Batch-->
            <div    class="col-3 sm-col-3 md-col-3 lg-col-3 xl-col-3"
                    >
                <div    class='border border-dark rounded'
                    style='width: 100%; height: 165px;'
                    >
                
                    <div style="width:100%; height: 55px; text-align: center; font-size: 1.25rem; padding-top: 15px;"><strong>Last Batch:</strong> </div>
                    <div    style="width:100%; height: 110px; text-align: center; padding-top: 15px;"
                            ng-if='vm.batches.cooling.recipe != undefined'>
                        <span>{{vm.batches.cooling.recipe}}</span> <br>
                        <span style='font-size:2rem;'>{{vm.batches.cooling.nut}}</span>
                    </div>
                
                </div>
            </div>
        </div>

        {{vm.batches}}


        <!--Progress-->
        <div class="row"></div>

        <!--Txs-->
        <div class="row"></div>

        <!--Supplies-->
        <div class="row"></div>

        <!--Produced/Results-->
        <div class="row"></div>

    </div>
</div>