<div>
    <div class="container">
        <div class="row">

            <!--Header-->
            <div class="row">
                <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12">
                    <h3>Bill of Materials List</h3>
                </div>
            </div>
            
            <!-- Create REcord-->
            <div class="row">
                <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12">
                    <label for="Name">
                        Name:
                        <input type="text" style='width:400px' ng-model="vm.newRecord"> 
                    </label>
                    <button class="btn btn-success" ng-click='vm.createNewRecord(vm.newRecord)'>Add</button>
                </div>
            </div>
            
            


            <table class="table">
                <thead>
                    <tr>
                        <th scope='col'>#</th>
                        <th scope='col'>Name</th>
                        <th scope='col'></th>
                        <th scope='col'></th>
                    </tr>
                </thead>
                <tbody class="table-striped">
                    <tr ng-repeat='bom in vm.bomsList track by $index'>
                        <td>{{$index +1 }}</td>
                        <td>{{bom.name}}</td>
                        <td>
                            <a ng-href="#/admin/BoM/{{bom.id}}">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>