<div>
    <div class="container">

        <!--Breakcrumbs-->
        <breadcrumbs previous='vm.breadcrumbs' current='Channels'></breadcrumbs>

        <!--Heading-->
        <div class="row">
            <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12" style='margin-top:10px; text-align: center;'>
                <h2>Channels</h2>
            </div>
        </div>

        <!--New Record-->
        <div class="row">
            <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12 form-group" style='margin-top:10px;'>
                <h4>New Record</h4>
                <label for="name">
                    <input class='form-control' type="text" ng-model='vm.newRecord.name' placehold='name'>
                </label>

                <label for="type">
                    <select name="channelType" id="channelType" class='form-control' ng-model='vm.newRecord.type'>
                        <option value="farmers_market">Farmers Market</option>
                        <option value="retail_partner">Retail Partner</option>
                        <option value="event">Event</option>
                        <option value="night_market">Night Market</option>
                        <option value="production">Production Kitchen</option>
                    </select>
                </label>

                <button class="btn btn-success" ng-click='vm.addChannel()'>Add</button>
            </div>
        </div>

        <!--Filters-->
        <div class="row">
            <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12" style='margin-top:10px;'>
                <h4>Filters</h4>
            </div>
        </div>

        <!--Body-->
        <list-of-channels channels='vm.channelsData'></list-of-channels>

    </div>
</div>