<div>
    <div class="container">
        
        <!--Header-->
        <div class="row">
            <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12">
                <h3>Ledgers</h3>
            </div>
        </div>

        <!--Add -->
        <div class="row form-group">
            <div class="col-2 sm-col-2 md-col-2 lg-col-2 xl-col-2">
                <!--Type-->
                <label for="typePicker">
                    Type:
                    <select class='custom-select' name="typePicker" id="typePicker" ng-model='vm.activeSelection.type'>
                        <option ng-repeat="(key, value) in {0: 'Asset', 1: 'Liability', 2: 'Revenue', 3: 'Expense', 4: 'Capital'}"
                                value="{{value}}"
                                >
                            {{value}}
                        </option>
                    </select>
                </label>
                
            </div>
            <div class="col-4 sm-col-4 md-col-4 lg-col-4 xl-col-4">
                <!--Account-->
                <label for="acctPicker">
                    Acct / Sub-Acct:
                    <select class='custom-select' name="acctPicker" id="acctPicker" ng-model='vm.activeSelection.acct'>
                        <option ng-repeat="(key, value) in vm.acctsList"
                                value="{{key}}"
                                >
                            {{value.name}}
                        </option>
                    </select>
                    <!--Sub-Acct-->
                    <select class='custom-select' name="subPicker" id="subPicker" ng-model='vm.activeSelection.sact'>
                        <option ng-repeat="(key, value) in vm.subAcctsList"
                                value="{{key}}"
                                >
                            {{value.name}}
                        </option>
                    </select>
                </label>
                
            </div>
            <div class="col-4 sm-col-4 md-col-4 lg-col-4 xl-col-4">
                <!--Channel-->
                <label for="channelPicker">
                    Channel:
                    <select class='custom-select' name="channelPicker" id="channelPicker" ng-model='vm.activeSelection.chnl'>
                        <option ng-repeat="(key, value) in vm.channelsList"
                                value="{{key}}"
                                >
                            {{value.name}}
                        </option>
                    </select>
                </label>
                
            </div>
            <div class="col-2 sm-col-2 md-col-2 lg-col-2 xl-col-2">
                <div style='margin-top:20px;'></div>
                <!--Add-->
                <button class="btn btn-success"
                        ng-click='vm.addLedger(vm.activeSelection)'>
                    Add
                </button>
            </div>

        </div>

        <!--List-->
        <div class="row">
            <div class="col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope='col'>Type</th>
                            <th scope='col'>Account</th>
                            <th scope='col'>Sub-Acct</th>
                            <th scope='col'>Channel</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-striped">
                        <tr ng-repeat='(key, value) in vm.ledgersList'>
                            <td>{{value.type}}</td>
                            <td>{{value.acctName}}</td>
                            <td>{{value.subAcctName}}</td>
                            <td>{{value.channelName}}</td>
                            <td>
                                <a ng-href="#/admin/ledger/{{key}}">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>